.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: lightslategray;
  }

.drop-down {
    height: 5vh;
    width: 10vw;
    background-color: lightblue;

}