.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 36, 37);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
#Input{
    width: 8%;
    height: 2%;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;

}
button {
    padding: 10px;
    border-radius: 10px;
    width: 10%;
    height: 5%;
    font-size: 20px;
    
}
